@charset "UTF-8";
/*RESET重置样式*/
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td, menu {
  margin: 0;
  padding: 0; }

/**{box-sizing:border-box}*/
ul, dl, ol {
  list-style: none; }

img, fieldset, input[type="submit"] {
  border: 0 none; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  cursor: pointer;
  border: 0 none; }

a, button, input, img {
  -webkit-touch-callout: none; }

img {
  /*pointer-events:none;*/
  /*禁止图片的点击事件，例如长按保存图片*/ }

input, select, textarea {
  outline: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

html, body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  height: 100%;
  width: 100%;
  font-family: 'Heiti SC', 'Microsoft YaHei';
  outline: 0;
  -webkit-text-size-adjust: none; }

body {
  height: 100%;
  margin: 0;
  position: relative; }

html, body {
  width: 100%;
  height: 100%;
  background: #bf0c21; }

.web {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/background.png) repeat;
  background-size: 8rem 12.6rem; }

button {
  outline: none; }

input {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

header {
  width: 2.575rem;
  height: 0.5125rem;
  position: absolute;
  top: 2.9375rem;
  left: 2.7rem; }
  header img {
    width: 100%;
    height: 100%; }

section {
  width: 4.725rem;
  height: 2.5875rem;
  position: absolute;
  top: 4.5rem;
  left: 1.625rem; }
  section img {
    width: 100%;
    height: 100%; }

footer {
  position: absolute;
  top: 7.8rem;
  left: 2rem; }
  footer input {
    width: 3.975rem;
    height: 0.575rem;
    display: block;
    background: url(../img/btn.png) no-repeat;
    background-size: 3.975rem 1.525rem; }
    footer input:first-of-type {
      background-position: left top; }
    footer input:last-of-type {
      margin-top: 0.4rem;
      background-position: left bottom; }
  footer button {
    display: block;
    margin: 0.4rem auto 0;
    width: 3.975rem;
    height: 0.5625rem;
    background: url(../img/dui.png) no-repeat;
    background-size: 3.975rem 0.5625rem;
    color: #da8770;
    font-size: 0.275rem;
    text-align: center;
    line-height: 0.5rem; }

.motai {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(106, 0, 1, 0.8);
  transform: translateX(-100%);
  transition: 200ms; }
  .motai .box {
    width: 5.1625rem;
    height: 3.125rem;
    background: #e7c598;
    border-radius: 0.15rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: 300ms;
    transform: translateY(-300%); }
    .motai .box p {
      font-size: 0.275rem;
      color: #bf0c21;
      text-align: center;
      line-height: 0.4rem; }
      .motai .box p:nth-child(1) {
        margin-top: 0.55rem; }
    .motai .box input:first-of-type {
      width: 2.4375rem;
      height: 0.475rem;
      background: #bf0c21;
      line-height: 0.475rem;
      text-align: center;
      font-size: 0.25rem;
      color: #e4b990;
      border-radius: 0.125rem;
      margin: 0.3rem auto 0;
      display: block; }
    .motai .box input:last-of-type {
      width: 0.45rem;
      height: 0.45rem;
      border-radius: 50%;
      position: absolute;
      right: 0.2rem;
      top: 0.15rem;
      background: url(../img/btnclose.png) no-repeat;
      background-size: 0.45rem 0.45rem; }

.transition {
  transform: translateX(0%);
  z-index: 3; }
  .transition .box_tran {
    transform: translateY(0%); }

/*# sourceMappingURL=index.css.map */
